ion-content {
  background: #f5f5f3;
    font-family: 'Poppins', sans-serif;

  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#0a1931;
  }

  h1 {
    font-weight: bold;
    font-size: 26px;
    color:#17396f;
    margin-bottom: 15%;
  }

  h6{

    color:#17396f;
  }

  h5{
      color: #3b7bae;
    font-size: 14.5px;
    cursor: pointer;
  }
  
  h4{
    color:#7e7e7e;
  }

  .form-container {
    background: #ffffff;
    border-radius: 15px;
    padding: 30px 25px;
    margin: 40px auto;
    width: 85%;
    max-width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  #form {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ion-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: transparent !important;
    border: none;
    box-shadow: none;
    margin-top: 20px;
    width: 100%;
    --secondary-800: #3b7bae;
  }
}

ion-input.custom {
  --background: #373737;
  --color: #fff;
  --placeholder-color: #ddd;
  --placeholder-opacity: 0.8;
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
}

.label-row {
  display: flex;
  justify-content: space-between;
   margin-bottom: 6px;
  gap: 8px;
}
.label-row h6 {
  font-weight: 600;
  --secondary-700: #050c19;
}

.forgot-link {
  color: #2D5D82;
  font-size: 16px;
  cursor: pointer;
}

.forgot-link:hover {
  color: #2d5d82;
  text-decoration: underline;
}

.input-field {
  border: 2px solid #2D5D82;
  border-radius: 10px;
  padding: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
}

.input-field:hover,
.input-field:focus-within {
  border-color: #2d5d82;
  box-shadow: 0 0 5px rgba(45, 93, 130, 0.4);
}

ion-input {
  --color: #050c19;
  --placeholder-color: #d8cfcf;
}

ion-button {
  width: 100%;
  margin-top: 25px;
  font-weight: bold;
  border-radius: 10px;
  height: 45px;
  --background: #0a1931;
  --color: white;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

ion-button:hover {
  --background: #2D5D82;
  box-shadow: 0 4px 10px rgba(45, 93, 130, 0.4);
  transform: scale(1.02);
}

ion-icon {
  font-size: 70px;
  color:#17396f;
}

